@charset "UTF-8";
:root{
    --azul:#012340;
    --verdedark:#025939;
    --verde:#027333;
    --verdec:#03A63C;
    --verdelight:#04D939;

}
*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: var(--azul);
}